@import 'vars';

.table {
  width: 100%;
  max-width: 100%;
}

.tbody * {
  font-size: 16px;
}

.th {
  font-size: 1.1em;
  white-space: nowrap;

  a {
    position: relative;
    padding-right: 10px;
  }

  &[aria-sort] {
    a:before {
      content: ' \25bc';
      position: absolute;
      right: 0px;
      top: 9px;
      font-size: 0.5em;
    }

    a:after {
      content: ' \25b2';
      position: absolute;
      right: 0px;
      top: 1px;
      font-size: 0.5em;
    }
  }

  &[aria-sort='asc'] {
    a:after {
      color: #ccc;
    }
  }
  &[aria-sort='desc'] {
    a:before {
      color: #ccc;
    }
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .table,
  .thead,
  .tbody,
  .th,
  .td,
  .tr {
    display: block;
  }

  .thead .tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .tr {
    border-bottom: 2px solid $border-colour;
  }

  .td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    border-bottom: 2px solid lighten($border-colour, 20%);
  }

  .td:before {
    font-weight: bold;
    content: attr(title);
    position: absolute;
    font-size: 16px;
    top: 16px;
    left: 16px;
    width: 45%;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 640px) {
  .td:before {
    top: 6px;
  }
}
