@import 'vars';
@import 'node_modules/nhsuk-frontend/packages/core/tools/_sass-mq.scss';

.breadcrumbs {
  background-color: $white;
  padding-top: $nhsuk-gutter;
  padding-bottom: $nhsuk-gutter;
  margin-bottom: $nhsuk-gutter * 3;
}

// override the setting to remove breadcrumbs in node_modules/nhsuk-frontend/packages/components/breadcrumb/_breadcrumb.scss
// .nhsuk-breadcrumb__back,
.breadcrumbList {
  @include mq($until: tablet) {
    display: block;
  }
}
