@import 'node_modules/nhsuk-frontend/packages/core/tools/_sass-mq.scss';
@import 'node_modules/nhsuk-frontend/packages/core/settings/_colours.scss';

.search {
  position: relative;
}

.input {
  padding-left: 0.5em;
  border: none;
  border-radius: 4px;
  background-color: $color_nhsuk-grey-5;
}

.button {
  position: absolute;
  line-height: 50%;
  bottom: 0;
  right: 0;
}

@include mq($until: desktop) {
  .input {
    margin: 10px 0 0;
  }
  .button {
    width: 40px;
    height: 40px;
    padding: 1px;

    // Fix escaping yellow border on search click
    &:focus {
      box-shadow: 0 0px #ffeb3b, 0 0px #212b32;
    }
  }
  // set icon to remain at default size throughout viewport changes
  .icon {
    width: 27px !important;
    height: 27px !important;
  }
}

// Placeholder for tablet+ specific styling
// @include mq($from: tablet) {
// .button {
// background-color: red;
// }
// }
