@import 'vars';
@import 'node_modules/nhsuk-frontend/packages/core/tools/_sass-mq.scss';
@import 'node_modules/nhsuk-frontend/packages/core/settings/_colours.scss';

.searchFormInNavWrapper {
  float: right;
  margin-right: $nhsuk-gutter;
  margin-bottom: $nhsuk-gutter;
}

.search {
  position: relative;
}

.searchInNav {
  display: inline-block;
}

.labelInNav {
  float: left;
}

.input {
  padding-left: 0.5em;
  border: none;
  background-color: $color_nhsuk-grey-5;
  &:focus {
    border: none;
  }
}

.buttonText {
  position: absolute;
  color: white;
  background-color: black;
  right: 0;
  bottom: 0;
  border-radius: 0;
  height: auto;
  width: auto;
  padding: 8px;
  &:hover {
    border: none;
  }
  &:active,
  &:focus {
    box-shadow: none;
    background: $yellow;
  }
}

.button {
  line-height: 50%;
}

@include mq($until: tablet) {
  .searchFormInNavWrapper {
    float: left;
    margin: $nhsuk-gutter;
  }
  .button {
    width: 44px;
    height: 40px;
    padding: 1px;

    // Fix escaping yellow border on search click
    &:focus {
      box-shadow: 0 0px #ffeb3b, 0 0px #212b32;
    }
  }
  // set icon to remain at default size throughout viewport changes
  .icon {
    width: 27px !important;
    height: 27px !important;
  }
}
