@import 'vars';

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listItem {
  @include borderTop;
  padding-top: $nhsuk-gutter;

  &:last-of-type {
    @include borderBottom;
  }
}

.checkboxItem {
  margin-top: $nhsuk-gutter * 2.4;
}

.noBottom {
  margin-bottom: 0;
}
.right {
  text-align: right;
}
