@import "vars";

.tag {
  border-radius: 0.3em;
  font-size: small;
  padding: 0.33em 0.5em;
  white-space: nowrap;
  font-weight: normal;
}
// TODO: other status colors? 
.draft {
  background-color: $pink;
  border-color: adjust-color($pink, $lightness: -5%);
}