@import 'vars';

.toggleAll {
  text-align: right;
  font-size: 16px;
}

.filterHeader {
  margin-bottom: 0;
  padding-bottom: $nhsuk-gutter;
  width: 100%;
  span {
    display: inline-block;
    width: 100%;
    color: $text-colour;
    text-decoration: none !important;
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  .filters {
    // display: none;
  }
}