@import 'vars';

.toggleAll {
  text-align: right;
  font-size: 16px;
}

.filterHeader {
  margin-bottom: 0;
  padding-bottom: $nhsuk-gutter;
  width: 100%;
  span {
    display: inline-block;
    width: 100%;
    color: $text-colour;
    text-decoration: none !important;
    font-size: 0.8em;
  }
}

.clearAll {
  margin-bottom: 2em;
  z-index: 10;
  font-size: 0.8em;
  float: right;
  margin-right: -16px;
}

.clear {
  clear: both;
}
