@import 'vars';

.toggleAll {
  text-align: right;
  font-size: 16px;
}

.filterHeader {
  margin-bottom: 0;
  padding-bottom: $nhsuk-gutter;
  width: 100%;
  span {
    display: inline-block;
    width: 100%;
    color: $text-colour;
    text-decoration: none !important;
    font-size: 0.8em;
  }
}

.clearAll {
  margin-bottom: 2em;
  margin-top: 2em;
  z-index: 10;
  font-size: 0.8em;
  display: block;

  &.right {
    float: right;
    margin-right: -16px;
  }
}

.clear {
  clear: both;
}

.requirementLabel {
  margin-left: -8px;
}

.requirementLabel::before {
  margin-top: 10px !important;
  margin-left: 4px !important;
  height: 24px !important;
  width: 24px !important;
}

.requirementLabel::after {
  left: 9px !important;
  top: 17px !important;
  width: 9px !important;
  height: 3.5px !important;
  border-width: 0 0 3px 3px !important;
}
