@import 'vars';
@import 'node_modules/nhsuk-frontend/packages/core/settings/_colours.scss';

.phaseBanner {
  &.homepage {
    background-color: $blue;
  }
}

.inner {
  padding-top: $nhsuk-gutter-smaller;
  padding-bottom: $nhsuk-gutter-smaller;

  @include borderBottom;

  &.homepage {
    @include borderTop(rgba(255, 255, 255, 0.2));
    border-bottom: 0;
    color: $white;
  }
}

.tag {
  font-size: 14px;
  background-color: $color_nhsuk-blue;
  border: none;
  margin-right: $nhsuk-gutter-smaller;

  &.homepage {
    border: 1px solid white;
  }
}
.bannerLink {
  &.homepage {
    color: white;
    &:hover {
      background-color: $color_transparent_nhsuk-blue-50;
      color: white;
    }
  }
}
