.checkboxGroup {
  .checkboxes {
    &.small {
      .item {
        min-height: 0;
        margin-bottom: 0;
        padding-left: 34px;
        float: left;

        .input {
          left: -10px;
          padding: 6px 15px 5px 1px;
        }

        .label {
          &:before {
            top: 8px;
            width: 24px;
            height: 24px;
          }

          &:after {
            top: 15px;
            left: 6px;
            width: 9px;
            height: 3.5px;
            border-width: 0 0 3px 3px;
          }
        }
      }
    }
  }
}
